*{
margin:0px;
padding: 0px;
}
body{
    background-color: black;
}
nav{
    height: 50px;
}
p{
    text-align: center;
}
.nav a{
    align-items: center;
    margin: 0 9px;
    font-size: 15px;
    display: flex;
    color:white;
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box div{
    display: flex;
}
.box div h2{
    text-align: center;
}
.mid{
    width: 40%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    padding-top:20px ;
}
.mid h2{
    text-align: center;
    margin-bottom: 20px;
}
.flex
{
    display: flex;
    justify-content: center;
}
.flex button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
    color: white;
    margin-top: 20px;
}
.p11{
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}
.p11 a{
    color: white;
}
.second{
    margin-top: 55px;
    margin-bottom: 50px;
}
.flex button:hover{
    background-color: black;
    color: white;
    border:1px solid black
}
.xx button:hover{
background-color: white;
color: black;
}
.box3 h1,.box3 p{
    color: black !important;
    text-align: center;
    margin: 5px 0px;
   
}
.third{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
.card h4{
    color:black
}
.card div{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(224, 221, 221);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.card i{
    color: black;
    font-size: 72px;
}
.box3{
    flex-direction: column;
    padding-top: 50px;
}
.box3 h4,.box3 p{
    margin:5px 0px;
    text-align: center;
}
.box3 p{
    font-size: 13px;
}
.box4{
    background-color: black;
  
}
.box4 h4,.box4 p{
    color: white !important;
}
.box4 h4{
    margin-top: 20px;
}
.box4 img{
    height: 150px;
}