*{
margin:0px;
padding: 0px;
}
body{
    background-color: black;
}
nav{
    height: 50px;
}
p{
    text-align: center;
}
.nav a{
    align-items: center;
    margin: 0 9px;
    font-size: 15px;
    display: flex;
    color:white;
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box div{
    display: flex;
}
.box div h2{
    text-align: center;
}
.mid{
    width: 40%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    padding-top:20px ;
}
.mid h2{
    text-align: center;
    margin-bottom: 20px;
}
.flex
{
    display: flex;
    justify-content: center;
}
.flex button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
    color: white;
    margin-top: 20px;
}
.p11{
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}
.p11 a{
    color: white;
}
.second{
    margin-top: 55px;
    margin-bottom: 50px;
}
.flex button:hover{
    background-color: black;
    color: white;
    border:1px solid black
}
.xx button:hover{
background-color: white;
color: black;
}
.box3 h1,.box3 p{
    color: black !important;
    text-align: center;
    margin: 5px 0px;
   
}
.third{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
.card h4{
    color:black
}
.card div{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(224, 221, 221);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.card i{
    color: black;
    font-size: 72px;
}
.box3{
    flex-direction: column;
    padding-top: 50px;
}
.box3 h4,.box3 p{
    margin:5px 0px;
    text-align: center;
}
.box3 p{
    font-size: 13px;
}
.box4{
    background-color: black;
  
}
.box4 h1{
    color: white !important;
}
.box4 h4,.box4 p{
    color: white !important;
}
.box4 h4{
    margin-top: 20px;
}
.box4 img{
    height: 150px;
}
.box5{
    background-color: white;
    display: flex;
    justify-content: space-around;

}
.box5 h1,.box5 h2,.box5 h3,.box5 p,.box5 h4{
    color: black !important;
}
.box5 .card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    width: 24%;
    height: 400px;
}
.fourthrow{
    width: 65%;
}
.fourthrow .card{
    display: block;
    padding: 10px !important;
}
.span2 i{
    font-size: 15px !important;
}

.fourthrow .card button{
    background-color: white;
    color: rgb(102, 0, 255);
    border: 1px solid rgb(102, 0, 255);
    padding: 4px;
    font-weight: 800;
    font-size: 10px;
    border-radius: 2px;
}
.fourthrow h4{
    margin-top: 6px;
    text-align: left;
}
.fourthrow p{
    text-align: left;

}
.xy{
    background-color: rgb(102, 0, 255) !important;
    color: white !important;
    border-radius: 2px;
    font-weight: 900 !important;
    margin-bottom: 5px;
}
.box5 .card{
    width: 21%;
    border-radius: 10px;
    height: auto;
}
.box5 p{
   margin: 0px;
}
hr{
    margin-bottom: 10px;
}
.plans
{
    background-color: black !important;
    width: 100%;
    color: white !important;
    border: 2px solid black !important;
    border-radius: 35px !important;
    padding: 20px;
    height: 30px;
}
.tc{
    margin:10px 0px !important;
font-size: 11px !important;
line-height: 15px;
}
.tc a{
    font-size: 11px !important;
    color:black !important;
}
.span1 p{
    margin: 8px 0px;
}
.box5 h4,.box5 button{
    margin: 0px;
}
.box5 .flex button
{
   
    border: 2px solid black;
    border-color: black;
    color: black;
    margin-left: 5px;
}
.box5 .flex{
    align-items: center;
    border: 3px solid rgb(210, 210, 210);
    padding:10px 15px;
    border-radius: 10px;
}
.span1 button{
    margin-bottom: 5px;
}
.questioner{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}
.questioner select{
    border: none;
    border-bottom: 1px solid black;
    background-color: white;
    width:65% ;
    height: 65px;
    font-size: 15px;
    font-weight: 700;
}

.box6{
justify-content: center;
}
.col{
    width: 16.66%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.circle{
    border-radius: 50%;
    background-color: rgb(58, 58, 58);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
   align-items: center;
}
.circle i{
    font-size: 25px;
}
.col p:nth-child(1){
font-size: 10px;
font-weight: 600;
color: rgb(87, 87, 87) !important;
}
.col p{
    margin-top: 15px;
    font-size: 12px;
}
.cv .flex p{
    font-size: 10px;
    color: gray !important;
}